# --- SECRETS & ENV ---
.env
.env.local

# --- SYSTEM & OS ---
.DS_Store
Thumbs.db
*.log

# --- DOCKER DATA & CONFIGS ---
# Ignoramos todo el contenido de las carpetas de servicios por defecto
# e incluimos (whitelisteamos) solo los archivos de configuración manuales.

# aMule
amule/*

# Jellyfin
jellyfin/*

# qBittorrent
qbittorrent/*

# ARR Suite
prowlarr/*
radarr/*
sonarr/*
bazarr/*
homarr/*
jellyseerr/*
nzbget/*
overseerr/*
lidarr/*

# Pi-hole
pihole/*

# Wireguard (wg-easy)
wireguard/*